<div class="portion bg-cyan-10">
  <div class="row" style="text-align: center">
    <div class="portion one-fifth-on-mobile bg-cyan-10">a</div>
    <div class="portion three-fifths-on-mobile bg-cyan-20">logo</div>
    <div class="portion one-fifth-on-mobile bg-cyan-10">a</div>
    <div class="icon"></div>
  </div>

  <div class="row" style="text-align: center">
  <!--
    <div class="faceimg1" style="text-align: left">
      <img src="kokomia.png" width="80" height="80">
    </div>
  -->
  <!--
    <ul class="bxslider">
      <li><img src="img/img01.jpg" title="キャプション1"></li>
      <li><img src="img/img02.jpg" title="キャプション2"></li>
      <li><img src="img/img03.jpg" title="キャプション3"></li>
      <li><img src="img/img04.jpg" title="キャプション4"></li>
    </ul>
  -->
    <div class="portion nine-tenths bg-cyan-20" style="text-align: center"></div>
      <div class="faceimg1" style="text-align: right">
        <img src="kokomia.png" width="80" height="80">
      </div>
    </div>
    <div class="footer">
      <div class="row bg-cyan-20">
        <div class="portion one-fifth-on-mobile bg-cyan-10" style="text-align: center">
          <a href="book.html">
            <i class="fas fa-book"></i>
          </a>
        </div>
        <div class="portion one-fifth-on-mobile bg-cyan-10" style="text-align: center">
          <a href="images.html">
            <i class="fas fa-images"></i>
          </a>
        </div>
        <div class="portion one-fifth-on-mobile bg-cyan-10" style="text-align: center">
          <a href="index.html">
            <i class="fas fa-home"></i>
          </a>
        </div>
        <div class="portion one-fifth-on-mobile bg-cyan-10" style="text-align: center">
          <a href="bell.html">
            <i class="fas fa-bell"></i>
          </a>
        </div>
        <div class="portion one-fifth-on-mobile bg-cyan-10" style="text-align: center">
          <a href="bars.html">
            <i class="fas fa-bars"></i>
          </a>
        </div>
      </div>
  </div>
</div>
